.content{
     background: bisque;
     width: 100%;
     height: 100%;
}
.header{
     background: blue;
     width: 100%;
     height: 30px;
}
.body{
     background: rgb(213, 213, 221);
     width: 100%;
     height: calc(100% - 60px);
}
.footer{
     background: violet;
     width: 100%;
     height: 30px;
}